:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad; 
    --cor2: #3ddc84; 
    --cor3: #2fa866; 
    --cor4: #1a5c37; 
    --cor5: #063d1e;
    --cor6: #000000;
    --cor7: #ffffff;
    --cor8: #00000050;
    --cor9: #00000033;
    --cor10: #ebe5c5;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', cursive;
}

div > a {
    display: block;
    margin: auto;
}

.botao {
    text-decoration: none;
    background-color: var(--cor3);
    color: var(--cor4);
    padding: 0.8em;
    margin-bottom: 0.4em;
    width: 8em;
    text-align: center;
    font-weight: bold;
    font-family: var(--fonte-padrao);
}

.botao:hover {
    outline: 0.2em solid var(--cor3);
    color: var(--cor7);
    transition-duration: 0.1s;
    background-color: var(--cor2);
}

.botao:active {
    outline: 0.2em solid var(--cor2);
    background-color: var(--cor0);
    color: var(--cor2);
}