<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Layouts</title>

    <link rel="stylesheet" href="estilo/index.css">

</head>
<body>

    <h1>Layouts</h1>

    <main>
        <header></header>

        <div id="centro">
            <section></section>
            <aside></aside>
        </div>
        
        <footer></footer>
    </main>

    <div>
        <p>
            <a class="botao" href="../teste001/index.html">VOLTAR</a>
            <a class="botao" href="../teste003/index.html">PRÓXIMO</a>
        </p>
    </div>
    
</body>
</html>