<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Layout</title>

    <link rel="stylesheet" href="estilo/corpo.css">

</head>
<body>

    <header id="principal">
        <h1>
            Layouts
        </h1>
    </header>

    <main id="principal">
        <header>
            <p>
                &lt;header&gt;
            </p>
            <nav>
                <p>
                    &lt;nav&gt;
                </p>
            </nav>
        </header>
        <section>
            <p>&lt;section&gt;</p>
            <article>
                <header>
                    <p>
                        &lt;header&gt;
                    </p>
                </header>
                <p>
                    &lt;article&gt;
                </p>
                <footer>
                    <p>&lt;footer&gt;</p>
                </footer>
            </article>
        </section>
        <aside>
            <p>
                &lt;aside&gt;
            </p>
        </aside>
        <footer id="principal">
            <p>
                &lt;footer&gt;
            </p>
        </footer>

        

        <div>
            <p id="p01">
                <a class="botao" href="../teste002/index.html">voltar</a>
                <a class="botao" href="#">próximo</a>
            </p>
        </div>

    </main>
    
        

    

</body>
</html>