<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="../../../../estilo/corpo.css">
    <link rel="stylesheet" href="../../../../estilo/botao.css">

</head>
<body>

    <header>
        <h1>
            Em branco
        </h1>
    </header>
    <section>
        <p style="text-align: center;">
            Essa página será atualizada.
        </p>
    </section>
    <footer>
        <div>
            <p>
                <a class="botao" href="../teste002/index.html">VOLTAR</a>
                <a class="botao" href="../../../../../tabelas/index.html">PRÓXIMO</a>
            </p>
        </div>
    </footer>

    
    
</body>
</html>