.botao {
    /*width: 5em;*/
    display: inline-block;
    background-color: #ffffff;
    color: #30E88E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em;
    margin: 0.2em 0.5em;
    /*font-size: 1.2em;*/
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.22);
    /*outline: 0.15em solid #30E88E;*/
    /*daqui para baixo pode apagar*/
    width: 30%;
    outline: 0.2em solid #30E88E;
}

.botao:hover {
    background-color: #30E88E;
    color: #ffffff;
}

a {
    text-align: center;
}

.botao:active {
    background-color: #ffffff;
    color: #30E88E;
}

p {
    text-align: center;
    margin: 0em;
    font-size: 80%;
}

#rodape {
    display: block;
    padding: 20px;
    margin: 0.2em auto;
    width: 80%;
}