@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

        body {
            background-color: #e0e0e067;
        }

        header {
            margin: 0.1em 2.3em;
            padding: 0.5em;
            background-color: #ffffff;
            border-radius: 0.5em;
            box-shadow:0.1em 0.1em 0.1em #00000028;
        }

        header > h1 {
            margin: 0px;
            padding: 0px;
            text-align: center;
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            font-size: 2em;
            color: #34FF7F;
        }

        header > h1:hover {
            text-decoration: underline;
        }

        header > p {
            text-align: center;
            font-family: 'Lato', sans-serif;
        }

        main {
            background-color: #ffffff;
            margin: 0.8em 2.3em;
            padding: 10px;
            border-radius: 0.5em;
            box-shadow: 0.1em 0.1em 0.1em #00000028;
        }

        section {
            padding: 0px;
        }

        section > h1 {
            background-color: #30E88E;
            color: #ffffff;
            margin: 0px;
            padding: 0.1em;
            text-align: center;
            box-shadow:
            0.1em 
            0.1em 
            0.1em 
            #00000028;
        }

        section > h1:hover {
            text-decoration: underline;
        }

        section > p {
            background-color: transparent;
            margin: 1em;
        }

        section > p {
            padding: 0.5em;
            text-align: justify;
            text-indent: 1.5em;
        }
        

        article {
            background-color: #30E88E;
        }

        div {
            padding: 20px;
        }

        img {
            padding: 0px;
            display: block;
            margin: auto;
        }
