@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
        /*font-family: 'Pixelify Sans', cursive;*/

.button {
    text-decoration: none;
    color: #fbff05;
    font-family: 'Pixelify Sans', cursive;
    background-color: #000000;
    font-size: 2em;
    border-radius: 3px;
    padding: 7px;
}

.button:hover {
    box-shadow: 
    3px 
    3px 
    5px 
    #fbff05;
}

.button2:hover {
    text-decoration: underline;
}