@charset "UTF-8";

div {
    background-color: blue;
    max-width: 700px;
    height: 200px;
    margin: 1em auto 0em auto;
    padding: 1em;
}

section {
    background-color: chocolate;
    width: 400px;
    height: 100%;

    float: left;
}

aside {
    background-color: red;
    width: 215px;
    height: 100%;

    float: right;
}