<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Layout Div Float</title>

    <link rel="stylesheet" href="estilo/corpo.css">

</head>
<body>

    <h1>Testando Habilidades adiquiridas + float</h1>

    <div id="geral">
        <div id="topo"></div>

        <div id="lado"></div>

        <div id="tabela-a"></div>

        <div id="tabela-b"></div>

        <div id="centro">
            <div id="imagem"></div>
        </div>

        <div id="rodape">
            <p>
                <a class="botao" href="../../earth-green/p01.html">VOLTAR</a>
                <a class="botao" href="../teste002/index.html">PRÓXIMO</a>
            </p>
        </div>
        
    </div>
    
</body>
</html>