@charset "UTF-8";

h1 {
    text-align: center;
}

div#geral {
    background-color: rgb(255, 170, 170);
    /*width: 100%;
    height: 800px;*/
    border: 3px solid black;
    box-shadow: 0em 0em 0.5em #00000080;

    max-width: 700px;
    margin: auto;
    height: 80vh;
}

div#topo {
    background-color: rgb(255, 46, 46);
    width: 100%;
    height: 20%;
}

div#lado {
    background-color: brown;
    width: 20%;
    height: 40%;
    float: left;
}

div#tabela-a {
    background-color: #2d5db5; /*rgb(255, 110, 134);*/
    width: 80%;
    height: 20%;
    float: right;
}

div#tabela-b {
    background-color: #6495ed; /*rgb(255, 150, 167);*/
    width: 80%;
    height: 20%;
    float: right;
}

div#centro {
    background-color: #ffffff;
    width: 100%;
    height: 30%;
    float: left;
}

div#rodape {
    background-color: crimson;
    width: 100%;
    height: 10%;
    float: left;
}

div#rodape > a {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
    text-decoration: none;
    text-align: center;
    padding: 0.15em;
    width: 8em;
    margin: 0.8em auto;
    display: block;
}

div#rodape > a:hover {
    outline: 0.2em solid white;
    text-align: center;
    box-shadow: 0.1em 0.1em 0.5em #0000002d;
}

div#rodape > a:active {
    background-color: white ;
    color: crimson;
}